section {
    font-family: "Sedan SC", serif;
    user-select: none;
    padding: 1rem;
    margin-top: 4rem;
}
.container {
    position: relative;
}

#services h2 {
    margin-top: 1rem;
    margin-bottom: 0rem;
    text-shadow: 2px 2px 5px black;
}
.services_container {
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
    
}
.service_row {
    display: flex;
    flex-direction: row; /* Aligne les éléments horizontalement */
    justify-content: center; /* Centre les éléments horizontalement */
    padding: 0vw; /* Utilisation de vw pour les marges, s'adapte à la largeur de la vue */
    border-radius: 2rem;
    transition: var(--transition);
    position: relative;
    width: 100%;
}
.service {
    margin-left: 0.5px; /* Espacement entre les services */
    margin-right: 0.5px; /* Espacement entre les services */
    padding: 1rem;
    border-radius: 0 0 2rem 2rem;
}
.services h5 {
    color: wheat;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}
.ensemble {   
    background: var(--color-bg);
    border-radius: 3rem 3rem 2rem 2rem;
    padding: 0px 20px; /* Utilisation d'une seule propriété pour définir les marges intérieures */
    text-align: left;
    max-height: 550px; /* Hauteur maximale de la carte */
    overflow: auto; /* Ajout d'une barre de défilement si le contenu dépasse */
    font-weight: 550;
    border: 7px solid #0c0e0f;
    width: 18rem; /* Augmenter la largeur de la carte au survol */
    height: auto; /* Ajuster automatiquement la hauteur en fonction du contenu */
}
/* Empêcher le texte de dépasser la bordure */
.ensemble h3,
.ensemble span {
    word-wrap: break-word; /* Permet au texte de se casser pour s'ajuster à la largeur de la carte */
    max-width: 100%; /* Assurez-vous que le texte ne dépasse pas la largeur de la carte */
    overflow: hidden; /* Masquer le texte qui dépasse */
    text-overflow: ellipsis; /* Ajouter des points de suspension si le texte est trop long */
}
.service_head {
    background: var(--color-primary);
    padding: 4px;
    margin: 14px;
    margin-bottom: 0px;
    border-radius: 0rem 0rem 2rem 2rem;
}
.div_Fixed {
    position: sticky;
    z-index: 2;
    top: 14px;
}
.service_head h3 {
    color: black;
    font-size: 1.3vw;
    text-align: center;
    font-weight: bold;
    text-shadow: none;
    padding: 3px;
    margin-bottom: 0;
}
.service_head:hover {
    box-shadow: 0 0rem 1rem rgba(255, 255, 255, 0.984);
}
.service_list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.service_list li {
    display: flex;
    align-items: baseline;
}
.service_list span {
    user-select: text;
    font-size: clamp(0.9rem, 1vw, 1.1rem);
    padding-left: 1px;
    font-weight: bold;
}
.service_list span:hover {
    background: rgba(0, 0, 0, 0.549);
    border: 0 solid #0000;
    border-radius: 10px;
    color: green;
    padding-left: 1px;
    box-shadow: 1px 1px 5px white;
}
.service_list-icon {
    color: green;
    font-size: 2.5em; 
    margin-right: 3px
}

/* Styles pour les écrans moyens */
@media screen and (max-width: 1024px) {
    .service_row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        row-gap: 1.4rem;
        column-gap: 2rem;
        margin: 0 1.5rem 0;
        justify-items: center;
    }
    .ensemble {
        width: 21.5rem;
        max-height: 600px;
        font-weight: bold;
        letter-spacing: 0px;
    }
    .service_list span {
        font-size: clamp(1rem, 2.5vw, 1.4rem);
    }
    .service {
        padding: 0;
    }
    .services {
        padding-top: 1rem;
    }
    #services h2 {
        font-size: xx-large;
        margin-top: 0;
    }
    .services h5 {
        font-size: xx-large;
    }
    .service_head h3 {
        padding: 0px;
        font-size: 2.4vw;
    }
    .service_list-icon {
        font-size: 75.5px;
        margin-right: 8px;
    }
}

/* Styles pour les petits écrans */
@media screen and (max-width: 600px) {
    .services {
        padding-top: 64rem;
    }
    .service_row {
        right: 0.999rem;
        flex-direction: column;
        padding-left: 0.3rem;
    }
    .service {
        margin: 0.5rem 0;
        width: 90%; /* Largeur de la carte pour petits écrans */
    }
    .service_head h3 {
        font-size: 1rem;
    }
    .services h5 {
        font-size: x-large;
    }
    .services h2 {
        font-size: large;
    }
}

/* Styles pour les très petits écrans, y compris iPhone 12 Pro */
@media screen and (max-width: 390px) {
    .services {
        margin-top: 24vw;
        padding-top: 1rem;
    }
    .service_row {
        right: -6rem;
        padding-left: 0;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        margin: 0 1.5rem;
        row-gap: .4rem;
    }
    .service {
        margin: 0.5rem 0;
        width: 95%; /* Largeur de la carte pour très petits écrans */
    }
    .service_head h3 {
        font-size: 5.5vw;
    }
    .service_list-icon {
        font-size: 13vw;
    }
    .services h5 {
        font-size: 8vw;
        margin-left: .5em;
        margin-right: -7.5em;
    }
    .services h2 {
        font-size: xx-large;
        margin-left: 0.5em;
        margin-right: -6.5em;
    }
}
