#temoignages {
  margin-top: 20rem;
}
#temoignages h5 {
  color: wheat;
}
#temoignages h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 5px black;
}
.temoignages_container {
  width: 21%;
  height: 65%;
  margin: 0 auto;
}
.temoignage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-primary-variant);
  text-align: left;
  padding: 2rem;
  border-radius: 2rem;
  user-select: none;
}
.client_avatar {
  width: 8rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  border: 0.4rem solid #58f444;
  margin-bottom: 0.5rem;
}
.client_name {
  margin-top: 0.2rem;
  color: whitesmoke;
  font-size: large;
  text-align: center;
}
.client_review {
  color: black;
  font-size: 16.5px;
  text-align: left;
  font-family: "Indie Flower", cursive;
}
.temoignage {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-weight: bold;
  color: #fff;
}
.temoignage:nth-child(1n) { background-color: rgb(148, 19, 146); }
.temoignage:nth-child(2n) { background-color: rgb(47, 159, 150); }
.temoignage:nth-child(3n) { background-color: #e96004; }
.temoignage:nth-child(4n) { background-color: rgb(232, 228, 11); }
.temoignage:nth-child(5n) { background-color: #8698d4; }
.temoignage:nth-child(6n) { background-color: rgb(180, 10, 47); }
.temoignage:nth-child(7n) { background-color: rgb(35, 99, 19); }
.temoignage:nth-child(8n) { background-color: rgb(0, 68, 255); }
.temoignage:nth-child(9n) { background-color: rgb(218, 12, 218); }
.temoignage:nth-child(10n) { background-color: rgb(54, 94, 77); }

@media screen and (max-width: 1024px) {
  .container.temoignages_container {
    margin-left: 13em;
    width: 35em;
    height: 60em;
  }
  .temoignages_container {
    width: 60%;
  }
  #temoignages {
    margin-top: 8rem;
  }
  .client_review {
    font-size: 35px;
  }
  .client_avatar {
    margin-bottom: 1.5rem;
    border: 0.7rem solid #58f444;
  }
  .client_name {
    font-size: xx-large;
    margin-top: 0rem;
  }
  #temoignages h5 {
    font-size: xx-large;
  }
  #temoignages h2 {
    font-size: xx-large;
  }
}
@media screen and (max-width: 600px) {
  .container.temoignages_container {
    height: 47em;
    margin-left: 1em;
    width: 21em;
  }
  .temoignages_container {
    width: 60%;
  }
  #temoignages {
    margin-top: 1rem;
  }
  .client_review {
    font-size: 20px;
  }
  .client_avatar {
    margin-bottom: 0.5rem;
    border: 0.4rem solid #58f444;
  }
  .client_name {
    font-size: xx-large;
    margin-top: 0rem;
  }
   #temoignages h5 {
    font-size: x-large;
  }
  #temoignages h2 {
    font-size: large;
  }
}
@media screen and (max-width: 390px) {
  #temoignages {
    margin-top: 1rem;
    width: 174vw;
    height: 356vw;
  }
  #temoignages h5 {
    font-size: 9vw;
    margin-left: 0.1rem;
    margin-right: 1vw;
    text-align: center;
  }
  #temoignages h2 {
    font-size: xx-large;
    margin-left: .1rem;
  }
  .container.temoignages_container {
    height: 63em;
    left: -0.5em;
    width: 29em;
  }
  .temoignages_container {
    width: 60%;
  }
  .client_review {
    font-size: 24px;
  }
  .client_avatar {
    margin-bottom: 0.5rem;
    border: 0.4rem solid #58f444;
  }
  .client_name {
    font-size: x-large;
    margin-top: 0rem;
  }
}
