#portfolio {
    margin-top: 4rem;
    font-family: "Sedan SC", serif;
}
#portfolio h5 {
    color: wheat;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}
#portfolio h2 {
    margin-bottom: .5rem;
    margin-top: 1.3rem;
    text-shadow: 2px 2px 5px black;
}
.container {
    margin: auto;
}
.portfolio_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    align-items: center;
    margin: 0 auto;
    padding: 0 1rem; /* Ajout d'un padding pour les petits écrans */
    right: 3rem;
}
.portfolio_item {
    background: var(--color-bg-variant);
    padding: 1.1rem;
    border-radius: 2rem;
    border: 3px solid #ffffff;
    transition: var(--transition);
    box-shadow: 1px 1px 12px white;
    transition: transform 1s ease; /* Transition douce */
    width: 18rem;
    height: 27rem;
}
.portfolio_item:hover {
    background: #00000099;
    border: 3px solid #ffffff;
    transform: scale(1.05); /* Zoom sur le survol */
    color: white;
    text-shadow: 2px 2px 5px black;
}
.portfolio_item-image {
    border-radius: 1rem;
    overflow: hidden;
}
.portfolio_item h3 {
    margin: 1rem 0 1.6rem 0;
    font-size: medium;
}
.portfolio_item-cta {
    display: flex;
    gap: 2rem;
    margin-bottom: 0.1rem;
}
.portfolio_item-cta a {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

/* Medium devices (tablettes) */
@media screen and (max-width: 1024px) {
    #portfolio {
        padding-top: 1rem;
        height: auto; /* Ajuster automatiquement la hauteur */
    }
    .portfolio_container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        width: 43em;
        margin-left: 13.6em;
    }
}

/* Small devices (smartphones) */
@media screen and (max-width: 600px) {
    .portfolio_container {
        grid-template-columns: 1fr;
        gap: 2rem;
        width: 20rem;
        padding: 0.5rem; /* Réduire le padding pour les très petits écrans */
        margin-left: 7.5em;
    }
    #portfolio {
        padding-top: 117rem;
        height: auto; /* Ajuster automatiquement la hauteur */
        padding-left: 0.3rem;
    }
    .portfolio_item {
        width: 100%; /* Prendre toute la largeur disponible */
    }
    #portfolio h2 {
        margin-bottom: .5rem;
        margin-top: 1.3rem;
        text-shadow: 2px 2px 5px black;
        margin-left: 2.1rem;
    }
    #portfolio h5 {
        font-size: 1.5rem;
        margin-left: 4rem;
        margin-right: 2rem;
    }
    .portfolio_item-cta {
        flex-direction: column-reverse;
        gap: 0.3rem;
        align-items: flex-end;
    }
    .portfolio_item h3 {
        font-size: medium;
    }
}

/* Very small devices (iPhone 12 Pro) */
@media screen and (max-width: 390px) {
    #portfolio {
        padding-top: 117rem;
        height: auto; /* Ajuster automatiquement la hauteur */
    }
    #portfolio h2 {
        margin-left: 0.1rem;
    }
    .portfolio_container {
        grid-template-columns: 1fr;
        gap: 2rem;
        width: 19rem;
        padding: 0.5rem; /* Réduire le padding pour les très petits écrans */
        margin-left: 5.4em;
    }
    .portfolio_item {
        width: 100%; /* Prendre toute la largeur disponible */
    }
    .portfolio_item h3 {
        font-size: medium;
    }
    .portfolio_item-cta {
        flex-direction: column-reverse;
        gap: 0.3rem;
        align-items: flex-end;
    }
    #portfolio h5 {
        font-size: 1rem;
        margin-left: 1rem;
        margin-right: 0.8rem;
    }
}
