#portfolio {
    margin-top: 4rem;
}
#portfolio h5 {
    color: wheat;
}
#portfolio h2 {
    margin-bottom: .5rem;
    margin-top: 1.3rem;
    text-shadow: 2px 2px 5px black;
}
.container {
        margin: auto;
}
.portfolio_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 60rem;
    align-items: center;
    margin-left: 15.2rem;
}
.portfolio_item {
    background: var(--color-bg-variant);
    padding: 1.1rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    box-shadow: 1px 1px 12px white;
    transition: transform 1s ease; /* Transition douce */
    width: 18rem;
    height: 27rem;
}
.portfolio_item:hover {
    border-color: var(--color-primary-variant);
    background: rgba(10, 38, 2, 0.843);
    transform: scale(1.1); /* Zoom sur le survol */
    color: white;
    text-shadow: 2px 2px 5px black;
}
.portfolio_item-image {
    border-radius: 1rem;
    overflow: hidden;
}
.portfolio_item h3 {
    margin: 1rem 0 1rem;
    font-size: smaller;
}
.portfolio_item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: .35rem;
    padding: .4px 1px;
}
/*@ ============== LES MEDIAS QUERYS " Medium device "((( Les Respensives a moyenne taille: tablette ))) ================ */
@media screen and (max-width: 1024px) {
    #portfolio {
        padding-top: 100rem;
        height: 100vh;
    }
    .portfolio_container {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        width: 35rem;
        margin: 0vw;
        margin-left: 14vw;
    }
}
@media screen and (max-width: 900px) {
    .portfolio_container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        width: 25rem;
        margin-left: 0vw;
    }
}
