section {
    margin-top: 4rem;
}

#contact {
    user-select: none;
}

#contact h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-shadow: 2px 2px 5px black;
}

#contact h5 {
    color: wheat;
}

.container.contact_container {
    width: 80%;
    display: grid;
    grid-template-columns: 42% 59%;
    gap: 10%;
    padding-top: 0rem;
    padding-right: 20rem;

}

.contact_options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
}

.contact_option {
    background: var(--color-bg-variant);
    padding: 1rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    font-weight: bold;
    border: 3px solid white;
    overflow: hidden;
    /* Empêche le texte de dépasser la bordure */
    white-space: nowrap;
    /* Empêche le texte de s'étaler sur plusieurs lignes */
    ;
    text-overflow: ellipsis;
    /* Ajoute des points de suspension si le texte est trop long */
}

.contact_option:hover {
    background: rgba(10, 38, 2, 0.381);
    border-color: var(--color-primary-variant);
    box-shadow: 0px 1px 30px 0px rgb(255, 255, 255);
    border: 3px solid rgb(49, 244, 49);
}

.container {
    position: relative;
}

.contact_options::before {
    content: '';
    position: absolute;
    top: calc(6% - 2.5px);
    /* Positionner le trait au milieu de la hauteur du parent */
    left: 29.8%;
    /* Positionner le trait à 20% de la largeur du parent */
    width: 14.8%;
    /* Largeur du trait pour remplir horizontalement le parent */
    height: 3px;
    /* Hauteur du trait */
    background-color: var(--color-white);
}

.contact_option+.contact_option+.contact_option::before {
    content: '';
    position: absolute;
    top: 78%;
    /* Positionner le trait au milieu de la hauteur du parent */
    left: 29.8%;
    /* Positionner le trait à 20% de la largeur du parent */
    width: 14.8%;
    /* Largeur du trait */
    height: 3px;
    /* Hauteur du trait */
    background-color: var(--color-white);
    transform: translateY(50%);
    /* Déplacer le trait vers le haut pour le centrer */
}




/*couleur google Email */
.contact_option-icon1 {
    font-size: 1.9rem;
    color: linear-gradient(to right, blue, red, yellow, green);
}

/*couleur instagram */
.contact_option-icon2 {
    font-size: 1.9rem;
    color: rgb(216, 11, 231);
}

/*couleur telegram */
.contact_option-icon3 {
    font-size: 1.9rem;
    color: rgb(82, 162, 237);
}

/*couleur whatsapp */
.contact_option-icon4 {
    font-size: 1.9rem;
    color: rgb(98, 203, 69);
}

.contact_option h4 {
    color: white;
    font-size: 20px;
}

.contact_option h6 {
    color: rgb(232, 170, 204);
    font-size: 16.5px;
    user-select: text;
    padding: 5px;
}

.contact_option a {
    margin-top: 0.7rem;
    display: inline-block;
}

.contact_option a:hover {
    color: rgb(24, 227, 249);
}

/*==========================FORM============================ */
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 3px solid white;
    padding: 2rem;
    padding-bottom: 0rem;
    border-radius: 2rem;
    background: rgba(0, 0, 0, 0.459);
}

form:hover {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 3px solid rgb(37, 217, 10);
    padding: 2rem;
    padding-bottom: 0rem;
    border-radius: 2rem;
    background: rgba(10, 38, 2, 0.381);
    box-shadow: 0px 1px 30px 0px rgb(255, 255, 255);
}

input,
textarea {
    width: 100%;
    padding: 1.6rem;
    background: var(--color-bg-variant);
    border-radius: 1.2rem;
    font-weight: bold;
    border: 3px solid white;
    color: var(--color-white);
    font-size: 20px;
    letter-spacing: 2px;
    /* Ajustez la valeur selon vos préférences */
    resize: none;
}

.custom-toast-container {
    bottom: 0;
    right: 0;
}

.btnEnvoyer {
    font-weight: bold;
    font-size: 18px;
    border-radius: 1.2rem;
    border: 3px solid white;
    background: transparent;
    padding: 0.5rem;
    background: linear-gradient(to right, #09e80d, transparent, #09e80d, transparent, #09e80d);
    color: white;
}

.btnEnvoyer:hover {
    background: linear-gradient(to right, transparent, #09e80d, transparent, #09e80d, transparent);
    border: 3px solid white;
}

.btnEffacer {
    font-weight: bold;
    font-size: 18px;
    border-radius: 1.2rem;
    border: 3px solid white;
    background: transparent;
    padding: 0.5rem;
    background: linear-gradient(to right, red, transparent, red, transparent, red);
    color: white;
}
.btnEffacer:hover {
    background: linear-gradient(to right, transparent, red, transparent, red, transparent);
    border: 3px solid white;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

/*==========================FORM============================ */

/*@ ============== LES MEDIAS QUERYS " Medium device "((( Les Respensives a moyenne taille: tablette ))) ================ */

@media screen and (max-width: 1024px) {
    .container.contact_container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        width: var(--container-wiidth-sm);
    }
    .container.contact_container {
        width: 88%;
    }

    #contact {
        margin-top: 1rem;
    }
    .contact_option {
        text-align: left;
    }
}

/*@ ============== LES MEDIAS QUERYS " Medium device "((( Les Respensives a moyenne taille: tablette ))) ================ */
@media screen and (max-width: 600px) {
    .container.contact_container {
        grid-template-columns: 1fr;
        width: var(--container-wiidth-sm);
    }
}
