#svg5 {
  position: absolute; /* Position absolue par rapport au parent */
  left: 55px; /* Aligner le cœur sur le bord droit de son conteneur */
  top: 75%; /* Aligner le cœur verticalement au milieu de son conteneur */
  transform: translateY(-50%); /* Ajuster verticalement le cœur au centre */
  /* background: black; */
}

#svg5 #line {
  fill: none;
  stroke: var(--color-white, white); /* Défaut à blanc */
  stroke-width: 1.5;
  stroke-linecap: butt;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: drawAndReset 15s linear infinite; /* Combinaison des animations */
}

#svg5 #point {
  fill: none;
  stroke: var(--color-white, white); /* Défaut à blanc */
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 0.1;
  stroke-opacity: 1;
  stroke-dasharray: 0.0001, 0.9999;
  stroke-dashoffset: 1;
  animation: drawAndReset 15s linear infinite; /* Combinaison des animations */
}

@keyframes drawAndReset {
  0% {
    stroke-dashoffset: 1;
  }
  66.67% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1;
  }
}
