#svg5 {
  position: absolute;
  left: 55px;
  top: 75%;
  transform: translateY(-50%);
  /* background: black; */
}

#svg5 #line {
  fill: none;
  stroke: var(--color-white, white);
  stroke-width: 1.5;
  stroke-linecap: butt;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: drawAndReset 15s linear infinite;
}

#svg5 #point {
  fill: none;
  stroke: var(--color-white, white);
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 0.1;
  stroke-opacity: 1;
  stroke-dasharray: 0.0001, 0.9999;
  stroke-dashoffset: 1;
  animation: drawAndReset 15s linear infinite;
}

@keyframes drawAndReset {
  0% {
    stroke-dashoffset: 1;
  }
  66.67% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1;
  }
}
