header {
    height: 100vh;
    padding-top: 0.5rem;
    overflow: hidden;
    user-select: none;
    font-family: "Sedan SC", serif;
}

#header {
    padding-top: 0;
    margin-top: 0;
}

#header h1 {
    color: rgb(4, 9, 48);
    text-shadow: 1px 1px 12px #fff;
    white-space: nowrap; /* Empêche le texte de se couper */
    overflow: hidden; /* Cache le dépassement du texte */
    text-overflow: ellipsis; /* Ajoute des points de suspension si le texte est trop long */
    font-size: calc(1vw + 0.6em); /* Utilisation d'une combinaison de vw et em */
    
}

#header h1 span {
    color: white;
}

#header h3 {
    color: #fff;
    text-shadow: 1px 1px 12px rgb(227, 13, 113);
    font-size: 150%;
}

.text-light-function {
    font-weight: 400;
    font-size: calc(1vw + 0.3em); /* Utilisation d'une combinaison de vw et em */
    color: white;
    white-space: nowrap; /* Empêche le retour à la ligne */
    font-family: "Dancing Script", cursive;
}

.header_container {
    text-align: center;
    height: 95%;
    position: relative;
}

/* CTA (Curriculum Vitae) */
.cta {
    margin-top: 0rem;
    display: flex;
    gap: 8rem;
    justify-content: center;
}

.cta a {
    width: 25%;
    padding: 0;
    margin: 0;
}

.icon-load {
    font-size: 20px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.maphoto {
    width: 17rem;
    height: 25rem;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12rem 12rem 3rem 3rem;
    overflow: hidden;
    padding: 3rem 0.5rem 0.5rem 0.5rem;
    animation: pulse 14.05s infinite;
    display: flex;
    color: var(--color-primary);
    font-size: 1.1rem;
    transition: background-color 1.03s;
    background: rgba(104, 246, 246, 0.534);
    
}

.maphoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
}


.maphoto:hover {
    animation: pulse 2.9s infinite;
    color: rgb(255, 255, 255);
    background: transparent;
}

/* Animation de feu d'artifice */
@keyframes pulse {
    50% {
        text-shadow: 0 0 10px #0e46f0f9, 0 0 20px #1cef05, 0 0 30px #fffffffd;
        box-shadow: 0 0 50px #000000, 0 0 100px #fdfdfdf3, 0 0 150px rgb(0, 255, 251);
    }
    100% {
        box-shadow: 0 0 10px #fdfdfdf3, 0 0 20px #163cfbf8, 0 0 30px rgb(8, 130, 139);
    }
}

/* Header Socials */
.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 1rem;
    bottom: 0.1rem;
    font-size: 1.3rem;
    text-shadow: 1px 1px 12px #fff;
    color: var(--color-primary);
}

.header_socials a {
    color: var(--color-primary);
    text-decoration: none;
}

.header_socials a:hover {
    color: var(--color-white);
    text-decoration: underline;
}

.header_socials::after {
    content: "";
    width: 2px;
    height: 2rem;
    background: var(--color-primary);
}

/* Scroll Down */
.scroll_down {
    position: absolute;
    right: -8%;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 1.2rem;
    bottom: 4rem;
    border-radius: 15px;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 15px;
    animation: pulse 2s infinite;
    align-items: center;
    justify-content: center;
}

@keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 5; }
}
.img_svg1et2_header {
  display: flex;
  justify-content: center; /* Centre les images latéralement */
  align-items: center;     /* Centre les images verticalement */
}

.img_svg1et2_header img {
  margin: 0 20px; /* Ajoute un espace de 20px entre les images */
  width: 25rem;
}

/* Optionnel : si vous souhaitez ajuster la taille des images pour qu'elles soient superposées de manière spécifique */
.img_svg1et2_header img:first-child {
  z-index: -1; /* Assurez-vous que la première image est en arrière-plan */
  position: relative; /* Nécessaire pour utiliser z-index */
  bottom: 0.5em;
}

.img_svg1et2_header img:last-child {
  z-index: -1; /* Assurez-vous que la deuxième image est au-dessus de la première */
  position: relative; /* Nécessaire pour utiliser z-index */
  bottom: 13.0em;
  margin-left: 33.0em;
}

/* Media Queries - Tablettes */
@media screen and (max-width: 1024px) {
    header {
        height: 100vh;
    }
    #header h3 {
        font-size: 3em;
    }
    #header h1 {
        font-size: calc(2vw + .6em);
    }
    .text-light-function {
        font-size: calc(2.5vw + .3em);
    }
    .cta {
        margin-top: 2rem; /* Ajout de marge en haut */
        margin-left: 11rem;
        flex-direction: column; /* Changer la direction des éléments enfants en colonne */
        gap: 2rem; /* Ajout d'un espace entre les éléments enfants */
    }
    .cta a {
        width: 70%; /* Réduire la largeur des boutons */
        font-size: 2rem;
    }
    .header_socials { 
        left: 1rem; /* Décaler vers la gauche */
        bottom: 0.1rem; /* Décaler vers le bas */
        font-size: 2.5rem; /* Réduire la taille de la police */
    }
    .maphoto {
        width: 28rem; /* Réduire la largeur */
        height: 45rem; /* Réduire la hauteur */
        left: calc(50% - 0rem); /* Centrer horizontalement */
        margin-top: 0rem; /* Ajouter de la marge en haut */
        border-radius: 10rem 10rem 2rem 2rem;
        padding: 1rem 1rem 5rem;
    }
    .scroll_down {
        display: flex; /* Afficher */
        align-items: center; /* Centrer horizontalement */
        flex-direction: row;
        justify-content: center; /* Centrer verticalement */
        bottom: 7.5rem; /* Décaler vers le bas */
        font-size: 2.2rem;
    }
    .img_svg1et2_header {
        display: none;
    }
}

/* Media Queries - Mobiles */
@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }
    #header h3 {
        font-size: 1.2rem; /* Réduire la taille de la police */
    }
    #header h1 {
        font-size: 1.5rem; /* Réduire la taille de la police */
    }
    .text-light-function {
        font-size: calc(5vw - .4em);
    }
    .maphoto {
        width: 16rem; /* Réduire la largeur */
        height: 22rem; /* Réduire la hauteur */
        left: calc(50% - 0rem); /* Centrer horizontalement */
        margin-top: 2rem; /* Ajouter de la marge en haut */
        border-radius: 8rem 8rem 2rem 2rem;
        padding: 3rem 1rem 1rem 1rem;
    }
    .cta {
        flex-direction: column; /* Changer la direction des éléments enfants en colonne */
        gap: 1rem; /* Ajout d'un espace entre les éléments enfants */
        align-items: center; /* Centrer horizontalement */
        margin-left: auto;
    }
    .cta a {
        width: 90%; /* Réduire la largeur des boutons */
        font-size: 1rem;
    }
    .scroll_down {
        display: flex; /* Afficher */
        align-items: center; /* Centrer horizontalement */
        flex-direction: row;
        justify-content: center; /* Centrer verticalement */
        bottom: 4rem; /* Décaler vers le bas */
        color: white;
        font-size: 1rem;
    }
    .header_socials {
        bottom: 1rem; /* Décaler vers le bas */
        left: 0.5rem; /* Décaler vers la gauche */
        font-size: 1.2rem; /* Réduire la taille de la police */
    }
    .img_svg1et2_header {
        display: none;
    }
}

/* Media Queries - iPhone 12 Pro */
@media screen and (max-width: 390px) {
    header {
        height: 100vh;
        padding-top: 0.5rem; /* Ajouter de la marge en haut */
    }
    .text-light-function {
        font-size: calc(5vw - .4em);
    }
    .header_container {
        height: 90%; /* Réduire la hauteur */
    }
    .header_socials {
        font-size: 1.1rem; /* Réduire la taille de la police */
    }
    .maphoto {
        width: 12rem; /* Réduire la largeur */
        height: 20rem; /* Réduire la hauteur */
        left: calc(50% - 0rem); /* Centrer horizontalement */
        margin-top: 1rem; /* Ajouter de la marge en haut */
        top: 29rem;
        border-radius: 7rem 7rem 2rem 2rem;
        padding: 2rem 0.5rem 0.5rem 0.5rem;
    }
    .cta {
        flex-direction: column; /* Changer la direction des éléments enfants en colonne */
        gap: 0.5rem; /* Ajout d'un espace entre les éléments enfants */
        align-items: center; /* Centrer horizontalement */
    }
    .cta a {
        width: 90%; /* Réduire la largeur des boutons */
        font-size: 1rem;
    }
    #header h1 {
        font-size: 1.5rem; /* Réduire la taille de la police */
    }
    #header h3 {
        font-size: 1.2rem; /* Réduire la taille de la police */
    }
    .scroll_down {
        display: flex; /* Afficher */
        align-items: center; /* Centrer horizontalement */
        flex-direction: row;
        justify-content: center; /* Centrer verticalement */
        bottom: 4rem; /* Décaler vers le bas */
        color: white;
        font-size: 1rem;
    }
    .img_svg1et2_header {
        display: none;
    }
}
