#footer {
  user-select: text;
  background-color: #000;
  background-image: linear-gradient(to bottom, 
    #ff0000, #ff4000, #ff7f00, #ffbf00, #000, #bfff00, #80ff00, #000, #00ff00, #00ff40, 
    #00ff80, #000, #00ffff, #000, #0080ff, #0040ff, #06063b, #44279d, #000, #bf00ff, 
    #ff00ff, #ff00bf, #ff0080, #000, #ff0000);
  background-blend-mode: overlay;
  overflow: hidden;
  position: relative;
  z-index: 0;
  padding: 2rem 0;
  text-align: center;
  font-size: 1.4rem;
  height: 100vh;
}
#footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: colorChange 70s infinite alternate;
}
@keyframes colorChange {
  0% { background-color: rgba(255, 0, 0, 0.5); }
  2% { background-color: rgba(255, 64, 0, 0.5); }
  4% { background-color: rgba(255, 127, 0, 0.5); }
  6% { background-color: rgba(255, 191, 0, 0.5); }
  8% { background-color: rgba(255, 255, 0, 0.5); }
  10% { background-color: #000; }
  12% { background-color: rgba(128, 255, 0, 0.5); }
  14% { background-color: rgba(64, 255, 0, 0.5); }
  16% { background-color: rgba(0, 255, 0, 0.5); }
  18% { background-color: rgba(0, 255, 64, 0.5); }
  20% { background-color: rgba(0, 255, 128, 0.5); }
  22% { background-color: rgba(0, 255, 191, 0.5); }
  24% { background-color: #000; }
  26% { background-color: rgba(0, 191, 255, 0.5); }
  28% { background-color: rgba(0, 128, 255, 0.5); }
  30% { background-color: rgba(0, 64, 255, 0.5); }
  32% { background-color: rgba(0, 0, 255, 0.5); }
  34% { background-color: #000; }
  36% { background-color: rgba(127, 0, 255, 0.5); }
  38% { background-color: rgba(191, 0, 255, 0.5); }
  40% { background-color: rgba(255, 0, 255, 0.5); }
  42% { background-color: #000; }
  44% { background-color: rgba(255, 0, 127, 0.5); }
  46% { background-color: rgba(255, 0, 64, 0.5); }
  48% { background-color: rgba(255, 0, 0, 0.5); }
  50% { background-color: rgba(255, 64, 0, 0.5); }
  52% { background-color: rgba(255, 127, 0, 0.5); }
  54% { background-color: #000; }
  56% { background-color: rgba(255, 255, 0, 0.5); }
  58% { background-color: rgba(191, 255, 0, 0.5); }
  60% { background-color: rgba(128, 255, 0, 0.5); }
  62% { background-color: rgba(64, 255, 0, 0.5); }
  64% { background-color: rgba(0, 255, 0, 0.5); }
  66% { background-color: rgba(0, 255, 64, 0.5); }
  68% { background-color: rgba(0, 255, 128, 0.5); }
  70% { background-color: #000 }
  72% { background-color: rgba(0, 255, 255, 0.5); }
  74% { background-color: rgba(0, 191, 255, 0.5); }
  76% { background-color: rgba(0, 128, 255, 0.5); }
  78% { background-color: #000 }
  80% { background-color: rgba(0, 0, 255, 0.5); }
  82% { background-color: rgba(64, 0, 255, 0.5); }
  84% { background-color: rgba(127, 0, 255, 0.5); }
  86% { background-color: #000 }
  88% { background-color: rgba(255, 0, 255, 0.5); }
  90% { background-color: rgba(255, 0, 191, 0.5); }
  92% { background-color: rgba(255, 0, 127, 0.5); }
  94% { background-color: #000 }
  96% { background-color: rgba(255, 0, 0, 0.5); }
  98% { background-color: rgba(255, 64, 0, 0.5); }
  100% { background-color: rgba(255, 127, 0, 0.5); }
}
section a {
  text-shadow: 1px 1px 3px black;
}
section a:hover {
  text-shadow: 1px 1px 12px rgb(227, 13, 113);
}
.footer_logo {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  display: inline-block;
  color:#fff;
  text-shadow: 1px 1px 12px rgb(227, 13, 113);
}
.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.5rem;
  margin: 0.5rem 0rem 3rem;
  font-size: 2.7vh;
}
.footer_socials {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 0rem;
  font-size: 2.7vh;
  
}
.footer_socials #a1{
  box-shadow: 1px 1px 5px white;
}
.footer_socials #a1:hover {
  background: rgb(40, 85, 248);
  box-shadow: 1px 1px 5px black;
}
.footer_socials #a2{
  box-shadow: 1px 1px 5px white;
}
.footer_socials #a2:hover {
  background: rgb(56, 59, 72);
  box-shadow: 1px 1px 5px black;
}
.footer_socials #a3{
  box-shadow: 1px 1px 5px white;
}
.footer_socials #a3:hover {
  background:  rgb(1, 1, 175);
  box-shadow: 1px 1px 5px black;
}
.footer_socials #a4{
  box-shadow: 1px 1px 5px white;
}
.footer_socials #a4:hover {
  background: rgb(233, 71, 128);
  box-shadow: 1px 1px 5px black;
}
.footer_socials #a5{
  box-shadow: 1px 1px 5px white;
}
.footer_socials #a5:hover {
  background: #000;
  box-shadow: 1px 1px 5px black;
  color: white;
}
.footer_socials #a6{
  box-shadow: 1px 1px 5px white;
}
.footer_socials #a6:hover {
  background: #14f114;
  box-shadow: 1px 1px 5px black;
}
.footer_socials #a7{
  box-shadow: 1px 1px 5px white;
}
.footer_socials #a7:hover {
  background: #58b1b1;
  box-shadow: 1px 1px 5px black;
}
.footer_socials a {
  background: var(--color-primary);
  color: white;
  padding: 0.5rem;
  margin-top: 0rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
  font-size: 1.8rem;
}
.footer_socials a:hover {
  background: rgba(0, 0, 0, 0.313);
  font-size: 2rem;
}
.footer_copyright {
  user-select: none;
  font-size: 1.2rem;
  font-weight: 900;
  margin-right: 2rem;
  text-align: right;
  color: black;
  margin-top: 30rem;
  margin-bottom: 2rem;
  color:#fff;
  text-shadow: 1px 1px 12px rgb(227, 13, 113);
}
/*@ ============== LES MEDIAS QUERYS " Medium device "((( Les Respensives a moyenne taille: tablette ))) ================ */
@media screen and (min-width: 900px) and (max-width: 1024px) {
  .footer_copyright {
    padding-top: 16rem; /* Ajoute une marge en haut */
  }
}
@media screen and (max-width: 900px) {
  .footer_copyright {
    padding-top: 0rem; /* Réinitialise la marge en haut */
    margin-right: 1rem;
  }
  .permalinks {
    margin-bottom: 0rem;
  }
}
@media screen and (max-width: 1024px) {
  #footer {
    margin-top: 5rem;
  }
}
/*@ ============== LES MEDIAS QUERYS " Medium device "((( Les Respensives a moyenne taille: tablette ))) ================ */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .permalinks {
    flex-direction: column;
    gap: 1.5rem;
  }
  .footer_socials {
    display: flex;
    gap: 1.5rem;
    text-align: center;
  }
}
