#footer {
  font-family: "Sedan SC", serif;
  user-select: text;
  -webkit-user-select: text;
  background-color: #000;
  background-image: linear-gradient(to bottom, 
    #ff0000, #ff4000, #ff7f00, #ffbf00, #000, #bfff00, #80ff00, #000, #00ff00, #00ff40, 
    #00ff80, #000, #00ffff, #000, #0080ff, #0040ff, #06063b, #44279d, #000, #bf00ff, 
    #ff00ff, #ff00bf, #ff0080, #000, #ff0000);
  background-blend-mode: overlay;
  overflow: hidden;
  position: relative;
  z-index: 0;
  padding: 2rem 0;
  text-align: center;
  font-size: 1.4rem;
  height: 100vh;
}
#footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: colorChange 70s infinite alternate;
}
@keyframes colorChange {
  0% { background-color: rgba(255, 0, 0, 0.5); }
  2% { background-color: rgba(255, 64, 0, 0.5); }
  4% { background-color: rgba(255, 127, 0, 0.5); }
  6% { background-color: rgba(255, 191, 0, 0.5); }
  8% { background-color: rgba(255, 255, 0, 0.5); }
  10% { background-color: #000; }
  12% { background-color: rgba(128, 255, 0, 0.5); }
  14% { background-color: rgba(64, 255, 0, 0.5); }
  16% { background-color: rgba(0, 255, 0, 0.5); }
  18% { background-color: rgba(0, 255, 64, 0.5); }
  20% { background-color: rgba(0, 255, 128, 0.5); }
  22% { background-color: rgba(0, 255, 191, 0.5); }
  24% { background-color: #000; }
  26% { background-color: rgba(0, 191, 255, 0.5); }
  28% { background-color: rgba(0, 128, 255, 0.5); }
  30% { background-color: rgba(0, 64, 255, 0.5); }
  32% { background-color: rgba(0, 0, 255, 0.5); }
  34% { background-color: #000; }
  36% { background-color: rgba(127, 0, 255, 0.5); }
  38% { background-color: rgba(191, 0, 255, 0.5); }
  40% { background-color: rgba(255, 0, 255, 0.5); }
  42% { background-color: #000; }
  44% { background-color: rgba(255, 0, 127, 0.5); }
  46% { background-color: rgba(255, 0, 64, 0.5); }
  48% { background-color: rgba(255, 0, 0, 0.5); }
  50% { background-color: rgba(255, 64, 0, 0.5); }
  52% { background-color: rgba(255, 127, 0, 0.5); }
  54% { background-color: #000; }
  56% { background-color: rgba(255, 255, 0, 0.5); }
  58% { background-color: rgba(191, 255, 0, 0.5); }
  60% { background-color: rgba(128, 255, 0, 0.5); }
  62% { background-color: rgba(64, 255, 0, 0.5); }
  64% { background-color: rgba(0, 255, 0, 0.5); }
  66% { background-color: rgba(0, 255, 64, 0.5); }
  68% { background-color: rgba(0, 255, 128, 0.5); }
  70% { background-color: #000 }
  72% { background-color: rgba(0, 255, 255, 0.5); }
  74% { background-color: rgba(0, 191, 255, 0.5); }
  76% { background-color: rgba(0, 128, 255, 0.5); }
  78% { background-color: #000 }
  80% { background-color: rgba(0, 0, 255, 0.5); }
  82% { background-color: rgba(64, 0, 255, 0.5); }
  84% { background-color: rgba(127, 0, 255, 0.5); }
  86% { background-color: #000 }
  88% { background-color: rgba(255, 0, 255, 0.5); }
  90% { background-color: rgba(255, 0, 191, 0.5); }
  92% { background-color: rgba(255, 0, 127, 0.5); }
  94% { background-color: #000 }
  96% { background-color: rgba(255, 0, 0, 0.5); }
  98% { background-color: rgba(255, 64, 0, 0.5); }
  100% { background-color: rgba(255, 127, 0, 0.5); }
}
section a {
  text-shadow: 1px 1px 3px black;
}
section a:hover {
  text-shadow: 1px 1px 12px rgb(227, 13, 113);
}
.footer_logo {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  display: inline-block;
  color:#fff;
  text-shadow: 1px 1px 12px rgb(227, 13, 113);
}
.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.5rem;
  margin: 0.5rem 0rem 3rem;
  font-size: 2.7vh;
}
.footer_socials {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 0rem;
  font-size: 2.7vh;
}

.footer_socials #a1{
  box-shadow: 1px 1px 5px white;
  transition: transform 1s ease;
}
.footer_socials #a1:hover {
  background: rgb(40, 85, 248);
  box-shadow: 1px 1px 5px black;
  transform: scale(1.5);
}

.footer_socials #a2{
  box-shadow: 1px 1px 5px white;
  transition: transform 1s ease;
}
.footer_socials #a2:hover {
  background: rgb(56, 59, 72);
  box-shadow: 1px 1px 5px black;
  transform: scale(1.5);
}

.footer_socials #a3{
  box-shadow: 1px 1px 5px white;
  transition: transform 1s ease;
}
.footer_socials #a3:hover {
  background: rgb(1, 1, 175);
  box-shadow: 1px 1px 5px black;
  transform: scale(1.5);
}

.footer_socials #a4{
  box-shadow: 1px 1px 5px white;
  transition: transform 1s ease;
}
.footer_socials #a4:hover {
  background: rgb(233, 71, 128);
  box-shadow: 1px 1px 5px black;
  transform: scale(1.5);
}

.footer_socials #a5{
  box-shadow: 1px 1px 5px white;
  transition: transform 1s ease;
}
.footer_socials #a5:hover {
  background: #000;
  box-shadow: 1px 1px 5px black;
  color: white;
  transform: scale(1.5);
}

.footer_socials #a6{
  box-shadow: 1px 1px 5px white;
  transition: transform 1s ease;
}
.footer_socials #a6:hover {
  background: #14f114;
  box-shadow: 1px 1px 5px black;
  transform: scale(1.5);
}

.footer_socials #a7{
  box-shadow: 1px 1px 5px white;
  transition: transform 1s ease;
}
.footer_socials #a7:hover {
  background: #58b1b1;
  box-shadow: 1px 1px 5px black;
  transform: scale(1.5);
}

.footer_socials a {
  background: var(--color-primary);
  color: white;
  padding: 0.5rem;
  margin-top: 0rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
}
.footer_copyright {
  user-select: none;
  -webkit-user-select: none;
  font-size: 1.2rem;
  font-weight: 900;
  margin-right: 2rem;
  text-align: right;
  color: black;
  margin-top: 5rem;
  margin-bottom: 2rem;
  color:#fff;
  text-shadow: 1px 1px 12px rgb(227, 13, 113);
}
.img_UNDRAW {
  display: flex;
  justify-content: space-between; /* Aligne les images horizontalement avec un espace entre elles */
  align-items: center; /* Centre les images verticalement */
  width: 97%;
  background-color: #041e1f4d;
  border-radius: 40px;
  margin: auto; /* Centre le conteneur horizontalement */
  margin-top: 1rem;
  padding: 1em; /* Ajoute du padding autour des images */
  position: relative; /* Nécessaire pour utiliser le z-index */
  z-index: -1; /* Place le conteneur en arrière-plan */
}

.img_UNDRAW img {
  width: 25rem;
  border-radius: 40px; /* Ajuste le rayon de bordure pour correspondre au style */
  background-color: #041e1f4d; /* Ajoute le même fond aux images */
  margin: 0 1em; /* Ajoute une marge horizontale entre les images */
  position: relative; /* Nécessaire pour que z-index fonctionne */
  z-index: -1; /* Place les images en arrière-plan */
  user-select: none; /* Empêche la sélection du texte */
  -webkit-user-select: none; /* Empêche la sélection du texte en safari et ios*/
  -webkit-user-drag: none; /* Empêche le glisser-déposer dans WebKit */
}

/* Ajoutez des styles supplémentaires pour chaque image si nécessaire */
.img_UNDRAW .imgsvgleft {
  margin-left: 0;
}

.img_UNDRAW .imgsvgcenter {
  margin: 0 1em;
}

.img_UNDRAW .imgsvgright {
  margin-right: 0;
  width: 23rem;
}

/*@ ============== LES MEDIAS QUERYS " Medium device "((( Les Respensives a moyenne taille: tablette ))) ================ */
@media screen and (max-width: 1024px) {
  #footer {
    margin-top: 0rem;
    padding-bottom: 0em;
  }
  .footer_logo {
    display: inline-block;
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 0rem;
    flex-direction: column;
    gap: 3rem;
  }
  .permalinks {
    flex-direction: column;
    gap: 3rem;
    display: flex;
    font-size: 3.8vh;
    align-items: end;
    margin-right: 1.4em;
    flex-wrap: wrap;
  }
  .footer_socials {
    display: flex;
    gap: 1.5rem;
    text-align: center;
    margin-bottom: 0;
    font-size: 5vh;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
    margin: 1em;
  }
  .footer_copyright {
    padding-top: 1rem;
    margin: 1rem;
    margin-top: 1rem;
    text-align: center;
    font-size: 1.9em;
    font-weight: 900;
    user-select: none;
    -webkit-user-select: none;
  }
  #svg5 {
    left: 200px;
    position: absolute;
    top: 87%;
    transform: translateY(-50%);
  }
  .img_UNDRAW {
    display: none;
  }
}
  
/*@ ============== LES MEDIAS QUERYS " Medium device "((( Les Respensives a moyenne taille: mini tablette ))) ================ */
@media screen and (max-width: 600px) {
    .footer_logo {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .permalinks {
    font-size: 1.5rem;
    row-gap: 0.5rem;
  }
  .footer_socials {
    font-size: 1.5rem;
    margin: 0.5rem;
  }
  .footer_copyright {
    font-size: 0.75rem;
    margin: 0.5rem;
  }
}
/*@ ============== LES MEDIAS QUERYS " small device "((( Les Respensives a petite taille: mobiles ))) ================ */
@media screen and (max-width: 390px) {
  #footer {
    margin-top: 0rem;
    padding-bottom: 260vw;
    padding-top: 99vw;
    width: 193vw;
    height: 177vw;
  }
  section a {
    font-size: xx-large;
  }
  .footer_logo {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .permalinks {
    display: flex;
    font-size: 2.7vh;
    justify-content: center;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
  }
  .footer_socials {
    display: flex;
    font-size: 2.99vh;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
    margin: 1em;
  }
  .footer_copyright {
    font-size: 10vw;
    font-weight: 900;
    margin: 1rem;
    padding-top: 0;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
  }
  #footer #svg5 {
    left: 25%;
    position: absolute;
    top: 10%;
    transform: translateY(-36%);
  }
  .img_UNDRAW {
    display: none;
  }
  #footer:before {
    height: 254vw;
  }
}
