/* Style par défaut pour le sélecteur de couleur */
input[type="color"] {
/*     border: none; */
    padding: 1rem;
}
input#selectColorTheme {
    background-color: black;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

/* ColorPicker.css */
.theme-picker {
    width: 35px;
    height: 35px;
    position: fixed;
    top: 13%;
    padding: 6px;
    right: 5%;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ffffff;
}
body {
    background-color: var(--color-bg);
    color: var(--text-color);
}
.shadowed {
    box-shadow: 0 0 90px #ffffff;
    color: var(--text-color);
    filter: drop-shadow(0rem 0rem 5px #ffffff);
}
/* Media Queries - Tablettes */
@media screen and (max-width: 1024px) {
    .theme-picker {
        top: 10%;
        right: 4%;
    }
}

/* Media Queries - Mobiles */
@media screen and (max-width: 600px) {
    .theme-picker {
        right: 22%;
        top: 3%;
    }
}

/* Media Queries - iPhone 12 Pro */
@media screen and (max-width: 390px) {
    .theme-picker {
       right: 7%;
       top: 3%;
    }
}
