/* Style par défaut pour le sélecteur de couleur */
input[type="color"] {
/*     border: none; */
    padding: 1rem;
}
input#selectColorTheme {
    background-color: black;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

/* ColorPicker.css */
.theme-picker {
    width: 35px;
    height: 35px;
    position: fixed;
    top: 13%;
    padding: 6px;
    right: 5%;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ffffff; /* Utilisez la variable --color-bg pour définir la couleur de fond, avec la valeur de secours #ffffff (blanc) */
}

/* Vous pouvez utiliser les variables CSS personnalisées pour les couleurs dans vos autres fichiers CSS */
body {
    background-color: var(--color-bg);
    color: var(--text-color); /* Utilisez la variable pour la couleur du texte */
}

.shadowed {
    box-shadow: 0 0 90px #ffffff; /* Utilisez la variable pour l'ombre */
    color: var(--text-color); /* Utilisez la variable pour la couleur du texte */
    filter: drop-shadow(0rem 0rem 5px #ffffff); /* Appliquer la couleur sélectionnée aux ombres */
}

/* Media Queries - Tablettes */
@media screen and (max-width: 1024px) {
    .theme-picker {
        top: 10%; /* Ajuster la position pour les tablettes */
        right: 4%; /* Ajuster la position pour les tablettes */
    }
}

/* Media Queries - Mobiles */
@media screen and (max-width: 600px) {
    .theme-picker {
        right: 35%;
        top: 3%;
    }
}

/* Media Queries - iPhone 12 Pro */
@media screen and (max-width: 390px) {
    .theme-picker {
        top: 6%; /* Ajuster la position pour l'iPhone 12 Pro */
        right: 41%; /* Ajuster la position pour l'iPhone 12 Pro */
    }
}
