/* Section principale */
section {
    margin-top: 0rem;
    font-family: "Sedan SC", serif;
}

.experience {
    padding-top: 1.5rem;
    user-select: none;
}

#experience h2 {
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 5px black;
}

#experience h3 {
    text-shadow: none;
}

.experience h5 {
    color: wheat;
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
    overflow: hidden;
    text-overflow: clip; /* Empêche les points de suspension */
}

.experience_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
    transition: background-color 0.3s ease;
}

.experience_container > div {
    background: var(--color-bg);
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: 1px dashed var(--color-primary);
    transition: var(--transition);
}

.experience_container > div:hover {
    background: rgba(0, 0, 0, 0.804);
    border-color: var(--color-primary);
    cursor: default;
    animation: pulse 5.05s infinite, rotateCard 2s forwards;
    transform: scale(1.1);
    transition: transform 5.5s ease;
}

@keyframes rotateCard {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.experience_container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.experience_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.5rem;
}

.experience_details {
    display: flex;
}

.experience_details-icon {
    margin-top: 6px;
    color: var(--color-primary);
    font-size: 130%;
}

/* Icones de langage */
.langue-icon1 {
    font-size: 145%;
    color: yellow;
}

.langue-icon2 {
    font-size: 125%;
    color: #61dbfb;
}

.langue-icon3 {
    font-size: 135%;
    color: #0769AD;
}

.langue-icon4 {
    font-size: 125%;
    color: #a6120d;
}

.langue-icon5 {
    font-size: 125%;
    color: #FF5733;
}

.langue-icon6 {
    font-size: 155%;
    color: #264de4;
    border-radius: 30%;
}

.langue-icon7 {
    font-size: 125%;
    color: aqua;
}

.langue-icon8 {
    font-size: 155%;
    color: #864ae2;
}

.langue-icon9 {
    font-size: 155%;
    color: #309430;
}

.langue-icon10 {
    font-size: 145%;
    color: #2bda2b;
}

.langue-icon11 {
    font-size: 155%;
    color: black;
    background-color: white;
    border-radius: 50% 50% 0% 50%;
}

.langue-icon12 {
    font-size: 175%;
    color: #6638e7;
}

.langue-icon13 {
    font-size: 155%;
    color: #f2450b;
}

.langue-icon14 {
    font-size: 2.2rem;
    color: #e49a10;
}

.langue-icon15 {
    font-size: 125%;
    color: #f1502f;
}

.langue-icon16 {
    font-size: 175%;
    color: #0f7bef;
}

/* Media Queries pour les tablettes */
@media screen and (max-width: 1024px) {
    .experience_container {
        grid-template-columns: 1fr;
        gap: 0.7rem;
    }

    .experience_container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .experience_content {
        padding: 1rem;
    }

    #experience h2 {
        margin-bottom: 0.5rem;
        margin-top: 0rem;
        font-size: xx-large;
    }
    .experience h5 {
        font-size: xx-large;
    }
    .experience {
        padding-top: 1rem;
    }
     small.text-light {
        font-size: 18.1px;
    }
     div h4 {
        letter-spacing: 2px;
        font-size: 18.7px;
    }
     #experience h3 {
        font-size: x-large;
        margin-bottom: 0rem;
    }
}

/* Media Queries pour les mobiles */
@media screen and (max-width: 600px) {
    .experience_container {
        gap: 1.1rem;
        left: 13vw;
    }
    .experience_container > div {
        width: 124vw;
        padding: 1.5rem 1rem;
    }
    .experience_content {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .experience {
        margin-top: 248vw;
        user-select: none;
        padding-top: 1rem;
    }
    .experience h5{
        font-size: 8vw;
        margin-left: 0.5em;
        margin-right: -7.5em;
    }
    #experience h2 {
        font-size: xx-large;
        margin-left: 0.5em;
        margin-right: -6.5em;
    }

/* Media Queries pour les iPhone 12 Pro */
@media screen and (max-width: 390px) {
    .experience_container {
        gap: 1rem;
        left: 13vw;
    }
    .experience_container > div {
        width: 124vw;
        padding: 1.5rem 1rem;
    }
    .experience_content {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .experience {
        margin-top: 248vw;
        user-select: none;
        padding-top: 1rem;
    }
    .experience h5{
        font-size: 8vw;
        margin-left: 0.5em;
        margin-right: -7.5em;
    }
    #experience h2 {
        font-size: xx-large;
        margin-left: 0.5em;
        margin-right: -6.5em;
    }
}
