/* Styles de base pour la section et les éléments de l'apropos */
section {
    margin-top: 2rem;
    margin-bottom: 0;
    font-family: "Sedan SC", serif;
}

.permettre-selection {
    user-select: none; /* Empêche la sélection de texte sur tout le corps de la page */
}

.apropos {
    padding-top: 1rem;
    user-select: none; /* Empêche la sélection de texte sur tout le corps de la page */
}

#apropos h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 5px black;
}

.apropos h5 {
    color: wheat;
}

.btn.btn-primary {
    color: white;
}

/* Styles pour la section 'À propos de moi' */
.apropos_container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 5%;
}

.apropos_content {
    width: 8%;
}

.apropos_moi {
    aspect-ratio: 0;
    border-radius: 2rem;
    background: transparent;
    display: grid;
    place-items: center;
    overflow: visible;
    transition: background-color 0.3s ease;
    font-size: 1.05rem;
    transition: background-color 2.3s;
    animation: pulse 12.05s infinite;
    border: 4px dotted var(--color-primary);
    max-width: 100%;
    height: 85%;
    padding: 3rem;
    padding-left: 0;
    padding-top: 1rem;
    align-content: center;
}

.apropos_moi:hover {
    background: linear-gradient(90deg, rgba(0, 128, 0, 0.592), rgba(255, 217, 0, 0.565), rgba(255, 0, 0, 0.54));
    animation: pulse 7.5s infinite;
}

/* Animation de feu d'artifice */
@keyframes pulse {
    50% { text-shadow: 0 0 10px #0e46f0f9, 0 0 20px #1cef05, 0 0 30px #fffffffd; }
    50% { box-shadow: 0 0 50px #000000, 0 0 100px #fdfdfdf3, 0 0 150px rgb(0, 255, 251); }
    100% { box-shadow: 0 0 10px #fdfdfdf3, 0 0 20px #163cfbf8, 0 0 30px rgb(8, 130, 139); }
}

.apropos_moi-image img {
    width: 19rem;
    padding-right: 1.6rem;
    border-radius: 2rem;
    transition: transform 0.3s ease;
}

.apropos_moi-image:hover img {
    transform: rotate(10deg);
}

.my_nationality {
    color: white;
}

.my_nationality:hover {
    color: black;
    border: 0px solid transparent;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.549);
    padding-left: 5px;
    padding-right: 5px;
}

.apropos_moi .etoile {
    color: green;
    padding-bottom: 0.5rem;
}

/* Styles pour la carte 'À propos de moi' */
.apropos_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}

.apropos_card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 1rem 0;
    text-align: center;
    transition: var(--transition);
    width: 165px;
}

.apropos_card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
    backdrop-filter: blur(25px);
}

.apropos_icon {
    color: var(--color-primary);
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
}

.apropos_card strong {
    font-size: 1.5rem;
    display: block;
}

.apropos_card small {
    font-size: 1rem;
    color: var(--color-light);
}

.apropos_content p {
    margin: 1rem 0 1.6rem;
    color: var(--color-light);
    background: var(--color-bg-variant);
    padding: 15px;
    border: 5px solid var(--color-primary);
    border-radius: 40px 0px 40px 0px;
    font-weight: bold;
    font-size: .9rem;
    width: 545px;
}

.apropos_content p:hover {
    margin: 1rem 0 1.6rem;
    color: white;
    margin-left: 0;
    margin-right: 0;
    background: rgba(0, 0, 0, 0.828);
    padding: 15px;
    border: 5px solid var(--color-primary);
    border-radius: 0px 40px 0px 40px;
    font-weight: bold;
}

/* Media Queries pour les tailles d'écran */
@media screen and (max-width: 1024px) {
    .apropos_container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    #apropos {
        padding-top: 0.5rem;
    }

    .apropos_moi {
        width: 40%;
        margin: 2rem auto 2rem 2rem;
    }

    .apropos_content p {
        margin: 1rem 0 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    .apropos_moi {
        width: 65%;
        margin: 0 auto 3rem;
    }

    .apropos_cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .apropos_content {
        text-align: center;
    }

    .apropos_content p {
        margin: 1.5rem 0;
    }

    .apropos_card {
        margin-left: 1rem;
        grid-template-columns: 1fr 1fr;
    }
}

/* Media Query pour les iPhone 12 Pro */
@media screen and (max-width: 390px) {
    .apropos_moi {
        width: 80%; /* Ajustement de la largeur */
        margin: 0 auto 2rem; /* Centrez l'élément et réduisez la marge en bas */
        padding: 2rem; /* Ajoutez un peu plus de rembourrage */
    }

    .apropos_card {
        width: 100%; /* Ajustement de la largeur */
    }
}

