/* Style pour la section */
section {
    margin-top: 2rem;
    margin-bottom: 0;
    font-family: "Sedan SC", serif;
}

/* Désactivation de la sélection de texte sur tout le corps de la page */
.permettre-selection { 
    user-select: none;
}

/* Styles pour la section "À propos" */
.apropos {
    padding-top: 1rem;
    user-select: none;
}

/* Styles pour les en-têtes h2 dans la section "À propos" */
#apropos h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 5px black;
}

/* Styles pour les sous-titres h5 dans la section "À propos" */
.apropos h5 {
    color: wheat;
}

/* Styles pour les boutons primaires */
.btn.btn-primary {
    color: white;
}

/* Styles pour le conteneur de la section "À propos" */
.apropos_container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 5%;
}

/* Styles pour le contenu de la section "À propos" */
.apropos_content {
    width: 8%;
}

/* Styles pour la carte "À propos de moi" */
.apropos_moi {
    aspect-ratio: 0;
    border-radius: 2rem;
    background: transparent;
    display: grid;
    place-items: center;
    overflow: visible;
    transition: background-color 0.3s ease;
    font-size: 1.05rem;
    transition: background-color 2.3s;
    animation: pulse 12.05s infinite;
    border: 4px dotted var(--color-primary);
    max-width: 100%;
    height: 85%;
    padding: 3rem;
    padding-left: 0;
    padding-top: 1rem;
    align-content: center;
}

/* Styles pour l'animation de la carte "À propos de moi" au survol */
.apropos_moi:hover {
    background: linear-gradient(90deg, rgba(0, 128, 0, 0.592), rgba(255, 217, 0, 0.565), rgba(255, 0, 0, 0.54));
    animation: pulse 7.5s infinite;
}

/* Animation de feu d'artifice */
@keyframes pulse {
    50% { text-shadow: 0 0 10px #0e46f0f9, 0 0 20px #1cef05, 0 0 30px #fffffffd; }
    50% { box-shadow: 0 0 50px #000000, 0 0 100px #fdfdfdf3, 0 0 150px rgb(0, 255, 251); }
    100% { box-shadow: 0 0 10px #fdfdfdf3, 0 0 20px #163cfbf8, 0 0 30px rgb(8, 130, 139); }
}

/* Styles pour l'image dans la carte "À propos de moi" */
.apropos_moi-image img {
    width: 19rem;
    padding-right: 1.6rem;
    border-radius: 2rem;
    transition: transform 0.3s ease;
}

/* Animation de rotation de l'image au survol */
.apropos_moi-image:hover img {
    transform: rotate(10deg);
}

/* Styles pour la nationalité */
.my_nationality {
    color: white;
}

/* Styles pour la nationalité au survol */
.my_nationality:hover {
    color: black;
    border: 0px solid transparent;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.549);
    padding-left: 5px;
    padding-right: 5px;
}

/* Styles pour l'icône d'étoile */
.apropos_moi .etoile {
    color: green;
    padding-bottom: 0.5rem;
}

/* Animation de l'icône d'étoile */
@keyframes shine {
    0% {
        opacity: 0.5;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.5);
    }
    100% {
        opacity: 0.5;
        transform: scale(1);
    }
}

/* Animation d'éclat de l'icône d'étoile */
.apropos_moi .etoile {
    animation: shine 3s infinite alternate;
}

/* Styles pour les cartes "À propos" */
.apropos_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}

/* Styles pour les cartes individuelles "À propos" */
.apropos_card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 1rem 0;
    text-align: center;
    transition: var(--transition);
    width: 165px;
}

/* Styles pour les cartes individuelles "À propos" au survol */
.apropos_card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
    backdrop-filter: blur(25px);
}

/* Styles pour les icônes dans les cartes "À propos" */
.apropos_icon {
    color: var(--color-primary);
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
}

/* Styles pour le texte fort dans les cartes "À propos" */
.apropos_card strong {
    font-size: 1.5rem;
    display: block;
}

/* Styles pour le texte de taille réduite dans les cartes "À propos" */
.apropos_card small {
    font-size: 1rem;
    color: var(--color-light);
}

/* Styles pour le contenu dans la section "À propos" */
.apropos_content p {
    margin: 1rem 0 1.6rem;
    color: var(--color-light);
    background: var(--color-bg-variant);
    padding: 15px;
    border: 5px solid var(--color-primary);
    border-radius: 40px 0px 40px 0px;
    font-weight: bold;
    font-size: .9rem;
    width: 545px;
}

/* Styles pour le contenu dans la section "À propos" au survol */
.apropos_content p:hover {
    margin: 1rem 0 1.6rem;
    color: white;
    margin-left: 0;
    margin-right: 0;
    background: rgba(0, 0, 0,.828);
    padding: 15px;
    border: 5px solid var(--color-primary);
    border-radius: 0px 40px 0px 40px;
    font-weight: bold;
}

/* Media Queries pour les tablettes */
@media screen and (max-width: 1024px) {
    .apropos_container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    #apropos {
        padding-top: 0.5rem;
    }

    .apropos_moi {
        width: 40%;
        margin: 2rem auto 2rem 2rem;
    }

    .apropos_content p {
        margin: 1rem 0 1.5rem;
    }
}

/* Media Queries pour les petits écrans (smartphones) */
@media screen and (max-width: 600px) {
    .apropos_moi {
        width: 65%;
        margin: 0 auto 3rem;
    }

    .apropos_cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .apropos_content {
        text-align: center;
    }

    .apropos_content p {
        margin: 1.5rem 0;
    }

    .apropos_card{
        margin-left: 1rem;
        grid-template-columns: 1fr 1fr;
    }
}

/* Media Queries spécifiques pour l'iPhone 12 Pro */
@media screen and (max-width: 390px) {
    /* Placez ici vos styles spécifiques pour l'iPhone 12 Pro */
    .service_head {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 1rem;
        z-index: 999;
    }

    .service_list {
        padding-top: 4rem; /* Pour compenser la zone fixe en haut */
    }
}

