nav {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.5rem 1rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    display: flex;
    gap: 0.5rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a {
    background: transparent;
    padding: 0.6rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-primary);
    font-size: 0.9rem;
    transition: background-color 2.3s;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.3);
    animation: pulse 2.05s infinite;
}

nav a.active {
    background: var(--color-primary);
    color: var(--color-bg);
}

nav a.active:hover {
    color: rgb(255, 255, 255);
}

/* Animation de feu d'artifice */
@keyframes pulse {
    50% { text-shadow: 0 0 10px #0e46f0f9, 0 0 20px #1cef05, 0 0 30px #fffffffd; }
    50% { box-shadow: 0 0 50px #000000, 0 0 100px #fdfdfdf3, 0 0 150px rgb(0, 255, 251); }
    100% { box-shadow: 0 0 10px #fdfdfdf3, 0 0 20px #163cfbf8, 0 0 30px rgb(8, 130, 139); }
}

/* Media Queries - Tablettes */
@media screen and (max-width: 1024px) {
    nav {
        width: max-content;
        padding: 1rem 2rem;
        left: 95%;
        transform: translateX(-50%);
        bottom: 2.5rem;
        gap: 3rem;
        flex-direction: column;
        background: transparent;
        backdrop-filter: blur(0px);
    }
    nav a {
        padding: .7rem;
        font-size: larger;
    }
    nav a:hover {
        padding: .9rem;
        font-size: larger;
    }
    .icons {
        font-size: xxx-large;
    }
}

/* Media Queries - Téléphones Tekno */
@media screen and (max-width: 720px) {
    header {
        height: 100vh;
        padding-top: 0.5rem; /* Ajouter de la marge en haut */
    }
    .text-light-function {
        font-size: calc(5vw - .4em);
    }
    .header_container {
        height: 90%; /* Réduire la hauteur */
    }
    .header_socials {
        font-size: 1.1rem; /* Réduire la taille de la police */
    }
    .maphoto {
        width: 12rem; /* Réduire la largeur */
        height: 20rem; /* Réduire la hauteur */
        left: calc(50% - 0rem); /* Centrer horizontalement */
        margin-top: 1rem; /* Ajouter de la marge en haut */
        top: 29rem;
        border-radius: 7rem 7rem 2rem 2rem;
        padding: 2rem 0.5rem 0.5rem 0.5rem;
    }
    .cta {
        flex-direction: column; /* Changer la direction des éléments enfants en colonne */
        gap: 0.5rem; /* Ajout d'un espace entre les éléments enfants */
        align-items: center; /* Centrer horizontalement */
    }
    .cta a {
        width: 90%; /* Réduire la largeur des boutons */
        font-size: 1rem;
    }
    #header h1 {
        font-size: 1.5rem; /* Réduire la taille de la police */
    }
    #header h3 {
        font-size: 1.2rem; /* Réduire la taille de la police */
    }
    .scroll_down {
        display: flex; /* Afficher */
        align-items: center; /* Centrer horizontalement */
        flex-direction: row;
        justify-content: center; /* Centrer verticalement */
        bottom: 4rem; /* Décaler vers le bas */
        color: white;
        font-size: 1rem;
    }
    .img_svg1et2_header {
        display: none;
    }
}

/* Media Queries - Mobiles */
@media screen and (max-width: 600px) {
    nav {
        width: 600px;
        padding: .9rem 1rem;
        left: 50%;
        bottom: .5rem;
        transform: translateX(-50%);
        flex-direction: row;
        backdrop-filter: blur(0);
        background: #0000;
    }
    nav a {
        padding: .5rem;
    }
    nav a:hover {
        padding: .5rem;
    }
    nav a.active {
        font-size: medium;
    }
    nav a.active:hover {
        font-size: medium;
    }
    .icons {
        font-size: larger;
    }
}

/* Media Queries - iPhone 12 Pro */
@media screen and (max-width: 390px) {
    header {
        height: 100vh;
        padding-top: 0.5rem; /* Ajouter de la marge en haut */
    }
    .text-light-function {
        font-size: calc(5vw - .4em);
    }
    .header_container {
        height: 90%; /* Réduire la hauteur */
    }
    .header_socials {
        font-size: 1.1rem; /* Réduire la taille de la police */
    }
    .maphoto {
        width: 12rem; /* Réduire la largeur */
        height: 20rem; /* Réduire la hauteur */
        left: calc(50% - 0rem); /* Centrer horizontalement */
        margin-top: 1rem; /* Ajouter de la marge en haut */
        top: 29rem;
        border-radius: 7rem 7rem 2rem 2rem;
        padding: 2rem 0.5rem 0.5rem 0.5rem;
    }
    .cta {
        flex-direction: column; /* Changer la direction des éléments enfants en colonne */
        gap: 0.5rem; /* Ajout d'un espace entre les éléments enfants */
        align-items: center; /* Centrer horizontalement */
    }
    .cta a {
        width: 90%; /* Réduire la largeur des boutons */
        font-size: 1rem;
    }
    #header h1 {
        font-size: 1.5rem; /* Réduire la taille de la police */
    }
    #header h3 {
        font-size: 1.2rem; /* Réduire la taille de la police */
    }
    .scroll_down {
        display: flex; /* Afficher */
        align-items: center; /* Centrer horizontalement */
        flex-direction: row;
        justify-content: center; /* Centrer verticalement */
        bottom: 4rem; /* Décaler vers le bas */
        color: white;
        font-size: 1rem;
    }
    .img_svg1et2_header {
        display: none;
    }
    nav {
        width: max-content;
        padding: .9rem 1rem;
        left: 50%;
        transform: translateX(-60%);
        bottom: 0.5rem;
    }
    nav a {
        padding: .5rem;
    }
    nav a:hover {
        padding: .5rem;
    }
    nav a.active {
        font-size: medium;
    }
    nav a.active:hover {
        font-size: medium;
    }
    .icons {
        font-size: larger;
    }
}
